#led-font-table {
    text-align: center;
}

#led-font-table table {
    border-collapse: collapse;
    background-color: #000;
    padding: 4px;
    display: inline-block;
}

#led-font-table table tr{
    line-height: 0;
}

#led-font-table table tr td {
    width: 12px;
    height: 12px;
    background-color: #333;
    border-radius: 8px;
    margin: 1px;
    display: inline-block;
    line-height: 0;
}

#led-font-table table tr td.IsOn {
    background-color: #FF0000;
}

#myCanvas{
    display: none;
}

#char-input {
    grid-column: 1fr;
}

#inputs {
    margin: 8px 0 0 0;
    display: grid;
    grid-template-columns: 1fr auto auto auto;
}

#select-font {
    margin-left: 8px;
}

#select-comport {
    margin-left: 8px;
}

#send-button {
    margin-left: 8px;
}
